<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/styles/quizztopia.css">
    <link rel="stylesheet" href="/frontend/styles/index.css">
    <title>Alx Example</title>

    
</head>
<body>
    <header class="header">
        <img src="/frontend/images/logo.png" alt="logo" class="logo">
        <div class="title">
          <h1>Quizztopia</h1>
          <h2>The Ultimate Trivia Arena</h2>
        </div>
        
        <nav class="nav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign up</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
        
        <!-- <a href="/frontend/templates/play.html" class="cta">Play Now</a> -->
      </header>
    <main class="main">
        <div class="container">
            <div id="question-container" class="hide">
                <div id="question">Quiztopia</div>
                <div id="answe-buttons" class="btn-grid">
                    <button class="btn correct">Answer 1</button>
                    <button class="btn wrong">Answer 2</button>
                    <button class="btn">Answer 3</button>
                    <button class="btn">Answer 4</button>
                </div>
            </div>
            <div class="Controls">
                <button id="start-btn" class="start-btn btn"> Start</button>
                <button id="next-btn" class="next-btn btn hide">Next</button>
            </div>
        </div>
    </main>
    
    <script src="/frontend/scripts/quizztopia.js"></script>
</body>
</html>
