<!DOCTYPE html>
<html>
<head>
	<title>Quizztopia - Sign Up</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/frontend/styles/signup.css">
    <link rel="stylesheet" href="/frontend/styles/quizztopia.css">
    <link rel="stylesheet" href="/frontend/styles/index.css">
</head>
<body>
    <header class="header">
        <img src="/frontend/images/logo.png" alt="logo" class="logo">
        <div class="title">
          <h1>Quizztopia</h1>
          <h2>The Ultimate Trivia Arena</h2>
        </div>
        
        <nav class="nav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="signup.html">Sign up</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
        
        <!-- <a href="/frontend/templates/play.html" class="cta">Play Now</a> -->
      </header>
	<div class="container ">
		<h1>Sign Up</h1>
		<form action="submit-form.php" method="POST">
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" required>

			<label for="email">Email:</label>
			<input type="email" id="email" name="email" required>

			<label for="password">Password:</label>
			<input type="password" id="password" name="password" required>

			<label for="confirm_password">Confirm Password:</label>
			<input type="password" id="confirm_password" name="confirm_password" required>

			<input type="submit" value="Sign Up">
		</form>
		<p>Already have an account? <a href="login.html">Log In</a></p>
	</div>
</body>
</html>
